@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #323232; */
}

.golf-img{
    max-width: 100%;
}

.logo1{
    max-width: 125px;
    margin-left: 25px;
}

.logo2{
    max-width: 190px;
    margin-right: 25px;
}

.navbar{
    min-height: 90px;
}

.content{
    background-color: #323232;
    color: floralwhite;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.h1{
    font-size: 44px;
    padding-top: 70px;
}

.h2{
    font-size: 36px;
    padding-bottom: 20px;
}

.points, .details{
    font-size: 20px;
}

.box{
    margin: 50px 200px 50px 200px;
    padding: 20px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #98fe00;
}

footer{
    background: #98fe00;
}

footer div p{
    margin-bottom: 0;
}

@media only screen and (max-width: 960px) and (min-width: 375px)  
{
    .box{
        margin: 15px;
        padding: 5px;
    }

    .h1{
        font-size: 24px;
        padding-top: 30px;
    }

    .h2{
        font-size: 18px;
        padding: 10px 0 10px 0;
    }

    .points, .details{
        /* padding-top: 15px; */
        font-size: 10px;
    }

    .points{
        margin-bottom: 10px;
    }

    .navbar{
        min-height: 70px;
    }

    .logo1{
        max-width: 75px;
        margin-left: 0px;
    }

    .logo2{
        max-width: 120px;
        margin-right: 0px;
    }

    .content{
        padding-bottom: 30px;
    }
}
